@using CarParkingSystem.Models;
@model IEnumerable<ParkingLotViewModel>;
<div id="page">
    <div id="locations">
        @if(Model.Count()==0)
        {
            <h2>No parkings found!</h2>
        }
        @foreach (var parking in Model.Where(p=>p.Address.ToLower().Contains(ViewBag.Search.ToLower())||p.Name.ToLower().Contains(ViewBag.Search.ToLower())))
        {
            <div class="card-wrapper">
            <div class="card-content">
                    <img src="@parking.ImageUrl" alt="parking image">
                    <div class="card-body">
                    <div id="description">
                    <h2>@parking.Name</h2>
                        <h5 class="card-title">@parking.Address</h5>
                        @if(parking.IsNonStop)
                        {
                        <p id="non-stop" class="card-text">24/7 Open</p>
                            
                        }
                        else
                        {
                        <p class="card-text">@parking.OpeningHour - @parking.ClosingHour</p>
                            
                    bool isBetween = false;
                    DateTime firstDate = DateTime.Now.Date;
                                firstDate = firstDate.Add(parking.OpeningHour.ToTimeSpan());

                    DateTime secondDate = DateTime.Now.Date;
                                secondDate = secondDate.Add(parking.ClosingHour.ToTimeSpan());

                                if (parking.OpeningHour.ToTimeSpan() > parking.ClosingHour.ToTimeSpan())
                    {
                        secondDate = secondDate.AddDays(1);
                    }
                    if (DateTime.Now >= firstDate && DateTime.Now <= secondDate)
                    {
                        isBetween = true;
                    }

                                if (parking.IsNonStop || isBetween)
                    {
                                    if (parking.IsNonStop)
                        {
                                                        <p class="open">24/7 Open</p>
                        }
                        else
                        {
                                                        <p class="open">Open</p>
                        }
                    }
                    else
                    {
                        TimeSpan ts = new TimeSpan(24, 0, 0);
                                    TimeSpan timeUntil = ts - DateTime.Now.TimeOfDay + parking.OpeningHour.ToTimeSpan();
                        string output = timeUntil.Hours > 9 ? $"Closed (Opens in {@timeUntil.ToString(@"hh")} hours)" : $"Closed (Opens in {timeUntil.ToString(@"hh")[1]} hours)";
                        output = timeUntil.Hours <= 1 ? $"Closed (Opens in 1 hour)" : output;
                                                                                        <p class="closed">@output</p>
                    }
                
                        }
                        @if(parking.IsDeleted)
                        {
                            <p class="closed">Is Deleted</p>
                        }
                        </div>
                        <div id="park-info-buttons">
                        <form method="get" asp-action="Edit" asp-controller="Parking">
                        <button id="edit" type="submit" value="@parking.Name" name="nameToEdit">Edit</button>
                        </form>
                        <form method="get" asp-action="ParkingReservations" asp-controller="Admin">
                            <button id="edit" type="submit" value="@parking.Id" name="parkingId">Check all reservations</button>
                        </form>
                        </div>
                    </div>
                    
            </div>
            </div>

        }
    </div>

    <div id="control-page">
        <div id="search">
            <form method="get" asp-action="Index" asp-controller="Admin">
                <input id="search-bar" class="form-control" placeholder="Enter a parking name" name="search">
                <button type="submit" id="search-button" >Search</button>
            </form>
            
        </div>
        <h1 id="control-page-title">Control Page</h1>
        <div id="button-wrapper">
        <a asp-action="Create" asp-controller="Parking">Create new parking</a>
        <form method="get" asp-action="UserReservations" asp-controller="Admin">
            <input id="search-bar" class="form-control" placeholder="Enter a user email, phone number or license plate number" name="searchQuery">
            <button type="submit" id="user-button">Check user info</button>
        </form>
        </div>
    </div>
</div>
<script>
    function filterLocations()
    {
        var input=document.getElementById('search-bar').value;
        var inputKeywords=input.split(', ');
        if(input!="")
        {
            var locations=document.getElementsByClassName('card-wrapper');
            for(var location of locations){
                var name=location.children[0].children[1].children[0].textContent
                var address=location.children[0].children[1].children[1].textContent;
                var combined=name+' '+address;
                var keywords=combined.split(' ');
                var isMatch=false;
                for(var kw of keywords){
                    console.log(kw);
                    if(input.includes(kw))
                    {
                        console.log('here');

                        isMatch=true;
                        break;
                    }
                }
                if(!isMatch)
                {
                }
            }
        }
    }
</script>
<style>
    a:hover{
        color:white;
    }
    div#park-info-buttons{
        display:flex;
       justify-content:start;
    }
    h1{
        margin-bottom:50px;
        padding-bottom:16px;
    }
    div#button-wrapper{
        width:100%;
        display:flex;
        flex-direction:column;
        gap:50px;
    }
    a{
        text-decoration:none;
        color:white;
        border: solid #343538 1px;
        background-color: #343538;
        font-size:1.5em;
        padding:4px 16px;
    }
    
    h1#control-page-title{
        margin-top:50px;
        border-bottom: 1px solid #343538;
    }
    div#control-page{
        display:flex;
        flex-direction:column;
        text-align:center;
    }
    button#edit{
        border: solid #343538 1px;
        background-color: #343538;
        color:white;
        margin-top:20px;
        font-size:1.5em;
        padding:4px 16px;
    }
    form{
        width: 100%;
        gap:16px;
        display:flex;
    }
    
    button#search-button,button#user-button{
        padding:8px 16px;
        background-color: #343538;
        color:white;
    }
    button#user-button{
        width:30%;
    }
    div#control-page{
        width:30%;
        margin-top:20px;
    }
    h2{
        font-size:1.5em;
    }
    h5{
        font-size:1em;
    }
    p{
        font-size:1em;
        margin-bottom:auto;
    }
    p#non-stop, p.open{
        color: forestgreen;
    }
    p.closed{
        color:red;
    }
    
    div.card-content{

        padding:0;
        display:flex;
        border-top: 1px solid #343538;
        border-bottom: 1px solid #343538;
        border-right: 1px solid #343538;
    }
    div.card-wrapper{
        margin-bottom: 20px;
        margin-top:20px;
        padding-left: 10px;
    }
    
    img{
        width:35%;
        object-fit:cover;
    }
    
    div#page{
        display:flex;
        gap:10%;
    }
    div#locations{
        width:50%;
        overflow:hidden;
        overflow-y:scroll;
        height:calc(100vh - 118px);
    }
    div.card-body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>
