@model IEnumerable<ReservationViewModel>
<link rel="stylesheet" href="~/css/Admin/parkingreservations.css" />
<div id="content-wrapper">
    <div id="card-wrapper">

        @foreach (var booking in Model.OrderBy(r => r.CheckInTime))
        {
            <div id="card">
                <img src="@booking.ImageUrl">
                <div id="description">
                    <h2 id="parking-name">@booking.ParkingName.ToUpper()</h2>
                    <p id="address">@booking.Address</p>
                    <p id="time">
                        Arrival: @booking.CheckInTime <br>
                        Check-out: @booking.CheckOutTime
                    </p>
                        <p id="user">User: @booking.UserName | @booking.Email | @booking.PhoneNumber | @booking.LicensePlateNumber</p>
                    @if (booking.IsCancelled)
                    {
                        <p id="cancelled">Canceled</p>

                    }
                    else
                    {
                        @if (DateTime.Now >= booking.CheckOutTime)
                        {
                            <p id="active">Completed</p>
                        }
                        else
                        {
                            <p id="active">Active</p>
                        }
                    }
                    <div class="one-line-container">
                        <p id="price">@booking.Price$</p>
                        @if (!booking.IsCancelled && DateTime.Now <= booking.CheckOutTime)
                        {
                            <form asp-action="Cancel" asp-controller="User">
                                <button value="@booking.ReservationId" type="submit" id="cancel" name="reservationId">Cancel</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

