@using CarParkingSystem.Models;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var apiKey = Configuration.GetValue(typeof(string), "GoogleApiKey");
}
@model ParkingLotViewModel
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script>
    (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
        key: "@apiKey",
        v: "weekly",
    });
</script>
<script async
        src="https://maps.googleapis.com/maps/api/js?key=@apiKey&callback=initMap">
</script>
<link rel="stylesheet" href="~/css/Parking/create.css" />
<div id="main">
    <div id="form">
        <form method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input class="form-control" id="name" asp-for="@Model.Name">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>

            </div>
            <div class="mb-3">
                <label class="form-label">Latitude</label>
                <input class="form-control" id="latitude" asp-for="@Model.Latitude">
                <span asp-validation-for="@Model.Latitude" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Longitude</label>
                <input class="form-control" id="longitude" asp-for="@Model.Longitude">
                <span asp-validation-for="@Model.Longitude" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Address</label>
                <input class="form-control" id="address" asp-for="@Model.Address">
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Capacity</label>
                <input class="form-control" id="capacity" asp-for="@Model.Capacity">
                <span asp-validation-for="@Model.Capacity" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Hourly Rate</label>
                <input class="form-control" id="hourly-rate" asp-for="@Model.HourlyRate">
                <span asp-validation-for="@Model.HourlyRate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Image Url</label>
                <input class="form-control" id="image-url" asp-for="@Model.ImageUrl">
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Starting Hour</label>
                <input class="form-control" type="time" asp-for="@Model.OpeningHour" id="opening-time" value="10:00:00"/>
                <span asp-validation-for="@Model.OpeningHour" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Closing Hour</label>
                <input class="form-control" type="time" asp-for="@Model.ClosingHour" id="closing-time" value="10:00:00"/>
                <span asp-validation-for="@Model.ClosingHour" class="text-danger"></span>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" asp-for="@Model.IsNonStop" id="flexCheckDefault" onclick="checkChange(this)">
                <label class="form-check-label" for="flexCheckDefault">
                    Parking is always open
                </label>
            </div>
            <button type="submit" class="btn btn-primary" id="submit" asp-action="Create" asp-controller="Parking">Submit</button>
        </form>
    </div>
    <div id="map-wrapper">
        <div id="map">
        </div>
        <div id="map-description" class="form-text">Click on the map to set coordinates.</div>
    </div>  
</div>


    <script>
        function checkChange(ckType) {
            var checked = document.getElementById(ckType.id);
            var startingInput = document.getElementById('opening-time');
            var closingInput = document.getElementById('closing-time');
            if (checked.checked) {
                startingInput.disabled = true;
                closingInput.disabled = true;
            }
            else {
                startingInput.disabled = false;
                closingInput.disabled = false;
            }
        }
    </script>
    <script>

        async function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 42.713552, lng: 25.115340 },
                zoom: 6,
            });
            var marker;
            google.maps.event.addListener(map, 'click', function (event) {
                placeMarker(event.latLng);
                var latitude = event.latLng.lat();
                var longitude = event.latLng.lng();
                document.getElementById('latitude').value = latitude;
                document.getElementById('longitude').value = longitude;
                fetch('https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latitude + ',' + longitude + '&key=@apiKey')
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        document.getElementById('address').value = data.results[0].formatted_address;
                    })
                    .catch((e) => window.alert("Geocoder failed due to: " + e));
            });


            function placeMarker(location) {

                if (marker == null) {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map,
                    });
                }
                else {
                    marker.setPosition(location);
                }

            }

        }
    </script>


