@using CarParkingSystem.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model ReserveViewModel
@inject SignInManager<User> SignInManager
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<form id="reservationForm" asp-action="Reserve" asp-controller="Parking">

@if (TempData["Error"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert('@TempData["Error"]');
        };
    </script>
}
<div id="page-wrapper">
    
    <div id="info-form">
        @if (!SignInManager.IsSignedIn(User))
    {
        <div id="not-logged-in">
        <p id="already">
            Already have an account? 
        </p>
                <a asp-action="Login" asp-controller="User">Sign in</a>
        </div>
    }
        <h2>PERSONAL INFORMATION</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(SignInManager.IsSignedIn(User))
            {
            <input type="hidden" asp-for="@Model.UserViewModel.Id" value="@Model.UserViewModel.Id"/>
            }
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.Id" value="@Model.ParkingLotViewModel.Id" />
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.Name" value="@Model.ParkingLotViewModel.Name"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.Capacity" value="@Model.ParkingLotViewModel.Capacity"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.HourlyRate" value="@Model.ParkingLotViewModel.HourlyRate"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.ImageUrl" value="@Model.ParkingLotViewModel.ImageUrl"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.IsDeleted" value="@Model.ParkingLotViewModel.IsDeleted"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.IsNonStop" value="@Model.ParkingLotViewModel.IsNonStop"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.OpeningHour" value="@Model.ParkingLotViewModel.OpeningHour"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.ClosingHour" value="@Model.ParkingLotViewModel.ClosingHour"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.AvailableSpaces" value="@Model.ParkingLotViewModel.AvailableSpaces"/>
            <input type="hidden" asp-for="@Model.ParkingLotViewModel.Address" value="@Model.ParkingLotViewModel.Address"/>

            <div class="form-outline mb-4">
                <label asp-for="@Model.UserViewModel.Email">Email</label>
                <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="email" aria-required="true" asp-for="@Model.UserViewModel.Email" placeholder="ex - johnsmith@gmail.com" />
                <span asp-validation-for="@Model.UserViewModel.Email" class="text-danger"></span>
            </div>
            <div id="one-line-container">
                <div class="form-outline mb-4">
                    <label asp-for="@Model.UserViewModel.FirstName">First Name</label>
                    <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="firstname" aria-required="true" asp-for="@Model.UserViewModel.FirstName" placeholder="John" />
                    <span asp-validation-for="@Model.UserViewModel.FirstName" class="text-danger"></span>
                </div>
                <div class="form-outline mb-4">
                    <label asp-for="@Model.UserViewModel.LastName">Last Name</label>
                    <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="lastname" aria-required="true" asp-for="@Model.UserViewModel.LastName" placeholder="Smith" />
                    <span asp-validation-for="@Model.UserViewModel.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="@Model.UserViewModel.PhoneNumber">Phone Number</label>
                <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="phonenumber" aria-required="true" asp-for="@Model.UserViewModel.PhoneNumber" placeholder="+359023023023" />
                <span asp-validation-for="@Model.UserViewModel.PhoneNumber" class="text-danger"></span>
            </div>

        <h2>VEHICLE INFORMATION</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-outline mb-4">
                <label asp-for="@Model.UserViewModel.LicensePlateNumber">License Plate Number</label>
                <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="licenseplate" aria-required="true" asp-for="@Model.UserViewModel.LicensePlateNumber" placeholder="EN2340PD" />
                <span asp-validation-for="@Model.UserViewModel.LicensePlateNumber" class="text-danger"></span>
            </div>
        <h2>PAYMENT INFORMATION</h2>
        <p id="warning">SKIP THIS SECTION FOR TESTING PURPOSES</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-outline mb-4">
                <label asp-for="@Model.CardNumber">Card Number</label>
                <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="cardnumber" aria-required="true" asp-for="@Model.CardNumber" placeholder="0000 8888 4444 2222" />
                <span asp-validation-for="@Model.CardNumber" class="text-danger"></span>
            </div>
            <div id="one-line-container">
            <div class="form-outline mb-4">
                <label asp-for="@Model.ExpirationMonth">Exp. Month</label>
                <input type="text" id="form3Example3cg" class="form-control form-control-lg" autocomplete="expm" aria-required="true" asp-for="@Model.ExpirationMonth" value="" placeholder="01" />
                <span asp-validation-for="@Model.ExpirationMonth" class="text-danger"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="@Model.ExpirationYear">Exp. Year</label>
                <input type="text" id="form3Example3cg" class="form-control form-control-lg" autocomplete="expy" aria-required="true" value="" asp-for="@Model.ExpirationYear" placeholder="2024" />
                <span asp-validation-for="@Model.ExpirationYear" class="text-danger"></span>
            </div>
            <div class="form-outline mb-4">
                <label asp-for="@Model.CVV">CVV</label>
                <input type="text" id="form3Example3cg" class="form-control form-control-lg" autocomplete="cvv" aria-required="true" value ="" asp-for="@Model.CVV" placeholder="542" />
                <span asp-validation-for="@Model.CVV" class="text-danger"></span>
            </div>
            </div>
    </div>
    <div id="reservation-info">
        <p id="review">REVIEW YOUR ORDER</p>
        <img src="@Model.ParkingLotViewModel.ImageUrl"/>
        <div id="description">
                <h3 asp-for="@Model.ParkingLotViewModel.Name">@Model.ParkingLotViewModel.Name.ToUpper()</h3>
                <p id="address">@Model.ParkingLotViewModel.Address</p>

                @if (!Model.ParkingLotViewModel.IsNonStop)
                {
                    <p>  Working Hours -  @Model.ParkingLotViewModel.OpeningHour - @Model.ParkingLotViewModel.ClosingHour </p>
            }
            else
            {
                <p id="open">24/7 OPEN</p>

            }
                    <div class="mb-3">
                        <label class="form-label">Date</label>
                        <input class="form-control" id="form3Example3cg" type="text" name="dates" />
                        @*<input id="checkin" type="hidden" value="2014-12-12 12:23" asp-for="@Model.CheckInHour"/>
                        <span asp-validation-for="@Model.CheckInHour" class="text-danger"></span>*@
                        <input id="checkin" type="hidden" id="checkin" asp-for="@Model.CheckInHour" asp-format="{0:dd/MM/yyyy hh:mm A}" />
                        <span asp-validation-for="@Model.CheckInHour" class="text-danger"></span>

                        <input id="checkout" type="hidden" asp-for="@Model.CheckOutHour" />
                        <span asp-validation-for="@Model.CheckOutHour" class="text-danger"></span>

                    </div>
                <h2 id="total">Total: 0.00$</h2>
                <input id="price" type="hidden" asp-for="@Model.Price" />
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
                <button id="submit" type="submit">Confirm reservation</button>

        </div>
    </div>
</div>
</form>

<script>
    $('input[name="dates"]').daterangepicker({
        timePicker: true,
        timePicker24Hour: true,
        timePickerIncrement: 30,
        locale: {
            format: 'YYYY/DD/M hh:mm A'
        }
    });
    $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
        var checkin = document.getElementById('checkin');
        var checkout = document.getElementById('checkout');
        checkin.value = picker.startDate.format('DD-MM-YYYY hh:mm A');
        checkout.value = picker.endDate.format('DD-MM-YYYY hh:mm A');
        var dateStart = new Date(picker.startDate.format('MM-DD-YYYY hh:mm A'));
        var dateEnd = new Date(picker.endDate.format('MM-DD-YYYY hh:mm A'));
        var timeDiff = dateEnd.getTime() - dateStart.getTime();
        var timeDiffMinutes = Math.floor(timeDiff / (1000 * 60));
        var priceNum = (timeDiffMinutes * (@Model.ParkingLotViewModel.HourlyRate/60)).toFixed(2);
        var total = document.getElementById('total');
        var button = document.getElementById('submit');
        total.textContent = 'Total: ' + priceNum + '$';
        var priceInput=document.getElementById('price');
        priceInput.value=priceNum;
    });

    function dateDiffInDays(a, b) {
  const _MS_PER_DAY = 1000 * 60 * 60 * 24;
  // Discard the time and time-zone information.
  const utc1 = Date.UTC(a.getFullYear(), a.getMonth(), a.getDate());
  const utc2 = Date.UTC(b.getFullYear(), b.getMonth(), b.getDate());

  return Math.floor((utc2 - utc1) / _MS_PER_DAY);
}
</script>
<style>
    p#open{
        color:forestgreen;
    }
    .mb-3{
        width:100%;
    }
    div#description{
        padding:0px 32px;
    }
    p#address{
        font-size:1.5em;
    }
    h3{
        font-weight:bold;
        font-size:3em;
        margin-top:32px;
    }
    p#review{
        font-size:1.5em;
        font-weight:bold;
        background-color:coral;
        color:white;
        padding:8px 16px;
        margin-bottom:auto;
    }
    img{
        width:100%;
        height:35%;
        object-fit:cover;
    }
    div#reservation-info{
        width:30%;
        box-shadow: -4px 0px 5px 0px rgba(184,184,184,0.38);
    }
    div#not-logged-in{
        padding:8px 16px;
        display:flex;
        justify-content:center;
        gap:16px;
        color:coral;
        font-weight:bold;
        margin-bottom:32px;
        align-items:center;
        border-bottom:1px solid gray;
    }
    div#not-logged-in>a,button#submit{
        font-size:1.5em;
        color:white;
        text-decoration:none;
        border:1px solid coral;
        border-radius:32px;
        background-color:coral;
        padding:2px 24px;
    }
    button#submit{
        height:57px;
        margin-top:32px;
    }
    div#not-logged-in>a:hover,button#submit:hover{
        color:white;
        background-color:orangered;
    }
    
    p#already{
        font-size:1.5em;
        margin-bottom: 0;
    }
    p#warning{
        color:red;
    }
    h2{
        margin-bottom:0;
        margin-top:32px;
        font-weight:bold;
    }
    div#page-wrapper{
        display:flex;
        justify-content:end;
        gap:32px;
        height:calc(100vh - 124px);
    }
    div#info-form{
        width:40%;
    }

    div.form-outline.mb-4 {
        width: 100%;
    }
    
    div#one-line-container {
        display: flex;
        width: 100%;
        gap: 32px;
        align-items:center;
    }

    #form3Example3cg {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
        padding: 0;
    }

    input#form3Example3cg:focus {
        box-shadow: none;
        border-color: coral;
        transition: all 0.25s ease-in;
    }

    label {
        font-weight: bold;
    }

    input#form3Example3cg::placeholder {
        font-weight: 100;
        color: lightgray
    }
</style>