@model AccountViewModel
<link rel="stylesheet" href="~/css/User/account.css" />
    <div class="mask d-flex align-items-center h-100 gradient-custom-3 mt-5">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6" id="main">

                    <h2 class="text-uppercase text-center mb-5">Your information</h2>
                    <form id="changeInformation" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <label asp-for="@Model.Email">Email</label>
                    @if (TempData["EmailChanged"] != null)
                    {
                        <p class="message-success"> @TempData["EmailChanged"] </p>
                    }
                    @if (TempData["EmailError"] != null)
                    {
                        <p class="message-error"> @TempData["EmailError"] </p>
                    }
                        <div class="form-outline mb-5 email">
                            <input id="form3Example3cg" value="@Model.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" asp-for="@Model.Email" name="Email" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            <input type="submit" class="btn btn-dark" asp-action="ChangeEmail" asp-controller="User" value="Change Email">
                        </div>
                    <label asp-for="@Model.OldPassword">Old Password</label>
                    @if (TempData["PasswordChanged"] != null)
                    {
                        <p class="message-success"> @TempData["PasswordChanged"] </p>
                    }
                    @if (TempData["PasswordError"] != null)
                    {
                        <p class="message-error"> @TempData["PasswordError"] </p>
                    }
                    <div class="form-outline mb-4 passwordChange">
                            <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" asp-for="@Model.OldPassword"  />
                            <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                        <label>New Password</label>
                        <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" asp-for="@Model.NewPassword"  />
                        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                        <label>New Password Repeat</label>
                        <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" asp-for="@Model.ConfirmNewPassword"  />
                        <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
                        <input type="submit" class="btn btn-dark btn-changePassword" asp-action="ChangePassword" asp-controller="User" value="Change Password">
                        </div>
                    @if (TempData["CarInfoChanged"] != null)
                    {
                        <p class="message-success"> @TempData["CarInfoChanged"] </p>
                    }
                    @if (TempData["CarInfoError"] != null)
                    {
                        <p class="message-error"> @TempData["CarInfoError"] </p>
                    }
                       
                    <label asp-for="@Model.LicensePlateNumber">License Plate Number</label>

                        <div class="form-outline mb-4 carinfo">
                        <input id="form3Example3cg" class="form-control form-control-lg" autocomplete="" aria-required="true" asp-for="@Model.LicensePlateNumber" />
                        <span asp-validation-for="@Model.LicensePlateNumber" class="text-danger"></span>
                        <input type="submit" class="btn btn-dark" asp-action="ChangeCarInfo" asp-controller="User" value="Change Car Information">
                        </div>

                    <input type ="submit" class="btn btn-danger deleteaccount" asp-action="DeleteAccount" asp-controller="User" value="Delete Account"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

                        