@model IEnumerable<ReservationViewModel>
<h1>MY RESERVATIONS</h1>
<div id="content-wrapper">
    <div id="card-wrapper">

        @foreach (var booking in Model.OrderBy(r => r.CheckInTime))
        {
            <div id="card">
                <img src="@booking.ImageUrl">
                <div id="description">
                    <h2 id="parking-name">@booking.ParkingName.ToUpper()</h2>
                    <p id="address">@booking.Address</p>
                    <p id="time">
                        Arrival: @booking.CheckInTime <br>
                        Check-out: @booking.CheckOutTime
                    </p>
                    @if(booking.IsCancelled)
                    {
                        <p id="cancelled">Canceled</p>

                    }
                    else
                    {
                        @if (DateTime.Now >= booking.CheckOutTime)
                        {
                            <p id="active">Completed</p>
                        }
                        else
                        {
                            <p id="active">Active</p>
                        }
                    }
                    <div id="one-line-container">
                        <p id="price">@booking.Price$</p>
                        @if(!booking.IsCancelled && DateTime.Now<=booking.CheckOutTime)
                        {
                            <form asp-action="Cancel" asp-controller="User">
                            <button value="@booking.ReservationId" type="submit" id="cancel" name="reservationId">Cancel</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    h1{
        text-align:center;
        margin-top:16px;
        font-weight:bold;
        color:coral
    }
    div#content-wrapper{
        display:flex;
        justify-content:center;
    }
    div#one-line-container{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    h2{
        font-weight:bold;
    }
    div#card{
        display:flex;
        height:25vh;
        border:solid 1px black;
        width:100%;
    }
    div#description{
        width:100%;
        padding:16px;
    }
    img{
        width:320px;
    }
    p{
        margin-top:0px;
        margin-bottom:0px;
    }
    div#card-wrapper{
        display:flex;
        flex-direction:column;
        align-items:center;
        height:calc(100vh - 200px);
        overflow:hidden;
        overflow-y:scroll;
        width:50vw;
        gap:16px;
        padding:16px;
    }
    button#cancel{
        border:solid 1px red;
        border-radius:32px;
        background-color:red;
        color:white;
        padding: 2px 24px;
        align-self:end;
    }
    button#cancel:hover{
            border: solid 1px darkred;
            background-color: darkred;
    }
    p#active{
        color:forestgreen;
        font-weight:bold;
    }
    p#cancelled{
        color:red;
        font-weight:bold;
    }
</style>